body {
    background-color: black;
    color: white;
    font-family: 'Roboto Slab', serif;
    padding: 20px;
    margin: 0;
    background-image: url(images/backgroundImage.png);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 35px;
}

.container {
    display: flex;
    margin-bottom: 50px;
}

.myName {
    background-color: rgba(87, 80, 78, 0.466);
    border: 1px solid red;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    border-radius: 5px;
    padding: 8px;
    text-align: center;
}

.top {
    width: 50%;
}

.top img {
    width: 70%;
}

.btn {
    background-image: linear-gradient(tomato, orangered);
    color: blanchedalmond;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
}

.btn:hover {
    background-image: linear-gradient(orangered, tomato);
}

.second-pic {
    border: 2px solid orangered;
    border-radius: 5px;
    box-shadow: 10px 10px 15px black;
}

.experienceItem {
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(34, 34, 34);
    width: 40%;
    margin-left: 5%;
    padding-left: 20px;
    padding-right: 20px;
}